# Problem Statement:  Monitor the behavioural and personality traits of the employee to identify and predict the signs of burnout. Starting with the causes of burnout, it should be possible to predict burnout in the early stages.

In [31]:
#importing files
import matplotlib.pyplot as plt
import numpy as mp
import pandas as pd
from sklearn 
import linear_model
from sklearn.preprocessing 
import PolynomialFeatures 
from sklearn.model_selection 
import train_test_split
from scipy import stats
import seaborn as s

SyntaxError: invalid syntax (<ipython-input-31-bf9e9e4cbc5f>, line 5)

In [32]:
#DATA COLLECTION
df_full = pd.read_csv(r"C:\Users\ritik\Downloads\train.csv",index_col='Employee ID')
df_test = pd.read_csv(r"C:\Users\ritik\Downloads\test.csv",index_col='Employee ID')
df_full.head()

,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
Employee ID,,,,,,,,
fffe32003000360033003200,2008-09-30,Female,Service,No,2.0,3.0,3.8,0.16
fffe3700360033003500,2008-11-30,Male,Service,Yes,1.0,2.0,5.0,0.36
fffe31003300320037003900,2008-03-10,Female,Product,Yes,2.0,NaN,5.8,0.49
fffe32003400380032003900,2008-11-03,Male,Service,Yes,1.0,1.0,2.6,0.20
fffe31003900340031003600,2008-07-24,Female,Service,No,3.0,7.0,6.9,0.52

In [33]:
df_full.dtypes

Date of Joining          object
Gender                   object
Company Type             object
WFH Setup Available      object
Designation             float64
Resource Allocation     float64
Mental Fatigue Score    float64
Burn Rate               float64
dtype: object

In [34]:
#data of joining
df_full['Date of Joining'] = pd.to_datetime(df_full['Date of Joining'])
df_test['Date of Joining'] = pd.to_datetime(df_test['Date of Joining'])

#gender 
gender = { 'Female': 0 , 'Male': 1 }
df_full['Gender'] = [gender[j] for j in  df_full['Gender']]
df_test['Gender'] = [gender[j] for j in  df_test['Gender']] 

#company type
company_type = {'Service': 0 , 'Product': 1}
df_full['Company Type'] = [company_type[j] for j in  df_full['Company Type']]
df_test['Company Type'] = [company_type[j] for j in  df_test['Company Type']]